@use '@mixins' as *;
@use '@config' as *;

.popupContact {
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    content: '';
  }

  .inner {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: $white;
    z-index: 200;
    display: flex;
    flex-direction: column;
    width: 100vw;

    @include mobile {
      z-index: 1000;
    }

    @include desktop {
      width: vw(1100);
    }

    .header {
      background: $gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;

      @include desktop {
        padding-left: vw(30);
      }

      .breadcrumb {
        display: flex;

        @include desktop {
          gap: vw(6);
        }

        * {
          color: $black;

          @include desktop {
            font-size: vw(16);
          }
        }
      }

      button {
        background: $orange;
        position: relative;
        transition: 0.3s ease-out;
        height: 45px;
        width: 48px;

        @include desktop {
          height: vw(60);
          width: vw(64);
        }

        &:hover {
          background: $orange-dark;
        }

        svg {
          @include absolute;

          width: 14px;
          height: 14px;

          @include desktop {
            width: vw(16);
            height: vw(16);
          }
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      align-items: stretch;
      padding: 80px 20px;
      gap: 40px;

      @include mobile {
        flex-direction: column;
        overflow-y: auto;
      }

      @include desktop {
        gap: vw(80);
        padding: 0 vw(64);
      }

      .form {
        grid-column: span 8;
        display: flex;
        flex-direction: column;

        @include desktop {
          padding: vw(48) 0;
          width: vw(662);
          gap: vw(32);
          overflow-y: scroll;
          max-height: 100%;
        }

        h2 {
          font-weight: 300;
          line-height: 1;
          font-size: 32px;

          @include mobile {
            margin-bottom: 20px;
          }

          @include desktop {
            font-size: vw(56);
          }
        }

        p {
          line-height: 1.6;

          @include mobile {
            margin-bottom: 40px;
          }

          @include desktop {
            font-size: vw(18);
          }
        }

        .fields {
          display: flex;
          flex-direction: column;
          transition: 0.3s ease-out;
          gap: 20px;

          @include desktop {
            width: calc(100% - vw(22));
            gap: vw(20);
          }

          &.--faded {
            opacity: 0.2;
            pointer-events: none;
          }

          .field {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 5px;

            @include desktop {
              gap: vw(10);
            }

            label {
              color: $black;
              font-weight: 600;
              font-size: 14px;

              @include desktop {
                font-size: vw(13);
              }

              // if required
              &:has(+ *:required) {
                &::after {
                  content: 'Required';
                  color: $orange;
                  position: absolute;
                  font-weight: 400;
                  top: 0;
                  right: 0;
                  font-size: 14px;

                  @include desktop {
                    font-size: vw(13);
                  }
                }
              }
            }

            input,
            select,
            textarea {
              background: none;
              outline: none;
              border: 1px solid #ccc;
              transition: 0.3s ease-out;
              width: 100%;
              padding: 10px;
              font-size: 16px;
              border-radius: 4px;

              @include desktop {
                padding: vw(14) vw(16);
                font-size: vw(16);
                border-radius: vw(6);
              }

              &::placeholder {
                color: #ccc;
              }

              option {
                color: $black;

                &:first-child {
                  color: #ccc;
                }
              }

              &:focus,
              &:not(:placeholder-shown) {
                border-color: $orange;
              }
            }

            select {
              appearance: none;
              background: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201.5L8%208.5L15%201.5%22%20stroke%3D%22%236E6E73%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
              background-repeat: no-repeat;
              background-position: right 10px top 50%;

              @include desktop {
                background-position: right vw(16) top 50%;
              }
            }

            textarea {
              resize: vertical;
              font-family: inherit;
              font-weight: inherit;
              min-height: 240px;

              @include desktop {
                min-height: vw(120);
              }
            }
          }

          button {
            width: fit-content;
            align-self: flex-end;
            margin-top: 20px;

            @include desktop {
              margin-top: vw(12);
            }
          }
        }
      }

      aside {
        @include desktop {
          grid-column: 9 / span 4;
          padding-top: vw(260);
          padding-bottom: vw(80);
        }

        ul {
          gap: 40px;

          @include desktop {
            gap: vw(48);
          }

          li {
            display: flex;
            flex-direction: column;

            h3 {
              font-weight: 600;
              font-size: 24px;
              margin-bottom: 20px;

              @include desktop {
                margin-bottom: vw(32);
                font-size: vw(20);
              }
            }

            *:not(h3) {
              font-weight: 400;
              line-height: 1.3;
              font-size: 14px;

              @include desktop {
                font-size: vw(16);
              }
            }

            p:first-of-type {
              margin-bottom: 20px;

              @include desktop {
                margin-bottom: vw(32);
              }
            }

            a {
              color: $orange;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
