@use '@mixins' as *;
@use '@config' as *;

::-webkit-scrollbar {
  display: none;
}

:root {
  scroll-behavior: auto !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $cream;
}

section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop {
    @include gridDefault;

    padding-left: vw(40);
    padding-right: vw(40);
  }
}
