@use '@mixins' as *;
@use '@config' as *;

#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: $orange;
  z-index: 9999;
  transform-origin: left;

  @include desktop {
    height: vw(4);
  }
}
