@use '@mixins' as *;
@use '@config' as *;

.pageText {
  border-top: 1px solid $black;

  &,
  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include desktop {
      gap: vw(50);
    }
  }

  h2 {
    display: flex;
    align-items: center;
    height: fit-content;
    padding-top: 20px;

    @include desktop {
      padding-top: vw(12);
      padding-bottom: vw(8);
    }

    svg {
      margin-right: 20px;
      width: 15px;
      height: 16px;

      @include desktop {
        margin-right: vw(20);
        width: vw(15);
        height: vw(16);
      }
    }

    span {
      flex: 1;
    }
  }

  .content {
    p {
      line-height: 1.5;

      @include desktop {
        font-size: vw(18);
      }

      a {
        color: $orange;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }
}
