@use '@mixins' as *;
@use '@config' as *;

.gridServices {
  padding-top: vw(50);
  padding-bottom: vw(50);
  row-gap: vw(64);

  ul {
    grid-column: 4 / span 9;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: vw(20);

    li {
      min-height: vw(500);
      position: relative;
      cursor: pointer;

      :global(.media) {
        @include absoluteFull;

        z-index: 1;

        &::before {
          @include absoluteFull;

          content: '';
          background: $black;
          opacity: 0.3;
          z-index: 2;
          transition: 0.3s ease-out;
        }
      }

      .content {
        position: relative;
        z-index: 3;
        padding: vw(38);
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $white;

        h3 {
          margin-bottom: vw(112);
          font-size: vw(35);
          font-weight: 500;
          line-height: 1.1;
        }

        p {
          margin-top: auto;
          transition: 0.3s ease-out;
          opacity: 0;
          transform: translateY(vw(38));
          font-size: vw(15);
          line-height: 1.3;
        }

        a {
          margin-top: vw(38);
        }
      }

      &:hover {
        .content {
          p {
            opacity: 1;
            transform: translateY(0);
          }
        }

        :global(.media) {
          &::before {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
