@use '@mixins' as *;
@use '@config' as *;

.hero {
  position: relative;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: $cream;
    padding: 120px 0 40px 0;
    gap: 40px;

    @include desktop {
      grid-column: span 10;
      gap: vw(24);
      padding: vw(200) 0 vw(134);
    }

    h1 {
      font-size: 14px;

      @include desktop {
        font-size: vw(14);
      }
    }

    p {
      line-height: 1;
      font-size: 56px;

      @include desktop {
        font-size: vw(108);
      }
    }
  }

  :global(.media) {
    @include absoluteFull;

    z-index: 1;

    &::before {
      @include absoluteFull;

      content: '';
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
      z-index: 2;
    }
  }
}
