@use '@mixins' as *;
@use '@config' as *;

.imageText {
  display: flex;
  position: relative;

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include desktop {
    padding-left: vw(80);
  }

  p {
    position: relative;
    z-index: 2;
    line-height: 1.2;
    padding: 120px 0 40px;

    @include desktop {
      padding: vw(400) 0 vw(64);
      width: vw(920);
      font-size: vw(30);
    }

    strong {
      font-weight: 600;
    }

    &,
    strong {
      color: $cream;
    }
  }

  :global(.media) {
    position: absolute;
    z-index: 1;
    inset: 40px 0;

    @include desktop {
      inset: 0 vw(40);
    }

    &::before {
      @include absoluteFull;

      content: '';
      z-index: 2;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      );
    }
  }
}
