@use '@mixins' as *;
@use '@config' as *;

.button {
  width: fit-content;
  cursor: pointer;
  border: 1.5px solid $cream;
  color: $cream;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 16px 24px;

  @include desktop {
    padding: vw(20) vw(30);
  }

  &,
  * {
    transition: 0.3s ease-out;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    height: 12px;
    line-height: 12px;

    @include desktop {
      font-size: vw(15);
      height: vw(12);
      line-height: vw(12);
    }
  }

  &:hover {
    background-color: $cream;
    color: $orange;
  }

  &.--black {
    color: $black;
    border-color: $black;

    &:hover {
      background-color: $black;
      color: $cream;
    }
  }
}
