@use '@mixins' as *;
@use '@config' as *;

.link-arrow {
  display: flex;
  color: $orange;
  position: relative;
  width: fit-content;
  gap: 8px;
  padding-bottom: 8px;

  @include desktop {
    padding-bottom: vw(7);
    gap: vw(8);
  }

  svg {
    transition: 0.3s ease-in;
    width: 13px;
    height: 10px;

    @include desktop {
      width: vw(13);
      height: vw(10);
    }
  }

  span {
    position: relative;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    height: 10px;
    line-height: 10px;

    @include desktop {
      height: vw(10);
      font-size: vw(14);
      line-height: vw(10);
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: $orange;
    transition: 0.3s ease-in;
    width: calc(100% - 21px);

    @include desktop {
      width: calc(100% - vw(23));
    }
  }

  &:hover {
    &::after {
      bottom: vw(-2);
      opacity: 0;
    }
  }

  &.--cream {
    color: $cream;

    svg * {
      &[fill] {
        fill: $cream;
      }

      &[stroke] {
        stroke: $cream;
      }
    }

    &::after {
      background-color: $cream;
    }
  }

  &.--white {
    color: $white;

    svg * {
      &[fill] {
        fill: $white;
      }

      &[stroke] {
        stroke: $white;
      }
    }

    &::after {
      background-color: $white;
    }
  }

  &.--black {
    color: $black;

    svg * {
      &[fill] {
        fill: $black;
      }

      &[stroke] {
        stroke: $black;
      }
    }

    &::after {
      background-color: $black;
    }
  }
}
