@use '@mixins' as *;
@use '@config' as *;

.heroIndustry {
  display: flex;
  flex-direction: column;
  padding: 120px 0 0;

  @include mobile {
    gap: 20px;
  }

  @include desktop {
    padding: vw(240) 0 vw(20) 0;
  }

  & > *:not(:global(.media)) {
    @include mobile {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include desktop {
      padding-left: vw(40);
      padding-right: vw(320);
    }
  }

  span,
  h1 {
    @include desktop {
      margin-bottom: vw(20);
    }
  }

  span {
    font-size: 14px;

    @include desktop {
      font-size: vw(14);
    }
  }

  h1 {
    line-height: 1;
    font-size: 56px;

    @include desktop {
      font-size: vw(108);
    }
  }

  p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: vw(64);
      font-size: vw(24);
    }
  }

  :global(.media) {
    width: 100%;
    height: 320px;

    @include desktop {
      height: vw(768);
    }

    &::before {
      @include absoluteFull;

      z-index: 2;
      content: '';
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.25) 100%
      );
    }
  }
}
