@use '@mixins' as *;
@use '@config' as *;

.heading {
  position: relative;
  padding-top: 20px;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @include desktop {
    @include gridDefault;

    width: 100%;
    grid-column: span 12;
    padding-top: vw(20);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $black;
    height: 1px;
  }

  &.--shrunk-text {
    p:nth-child(3) {
      @include desktop {
        grid-column: 4 / span 5;
      }
    }
  }

  h2 {
    display: flex;
    align-items: center;
    height: fit-content;

    @include desktop {
      grid-column: span 2;
    }

    svg {
      width: 15px;
      height: 16px;
      margin-right: 20px;

      @include desktop {
        margin-right: vw(36);
        width: vw(15);
        height: vw(16);
      }
    }

    span {
      flex: 1;
    }
  }

  :global(.intro) {
    @include mobile {
      margin-bottom: 20px;
    }
  }

  *:not(h2) {
    @include desktop {
      grid-column: 4 / span 9;
    }
  }

  p:nth-child(3) {
    @include desktop {
      margin-top: vw(64);
    }
  }

  a {
    @include desktop {
      margin-top: vw(40);
    }
  }
}
