@use '@mixins' as *;
@use '@config' as *;

.popupTeam {
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    content: '';
  }

  .inner {
    width: vw(1100);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: $white;
    z-index: 200;
    display: flex;
    flex-direction: column;

    .header {
      background: $gray;
      padding-left: vw(30);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .breadcrumb {
        display: flex;
        gap: vw(6);

        * {
          font-size: vw(16);
          color: $black;
        }

        a {
          opacity: 0.5;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      button {
        height: vw(60);
        width: vw(64);
        background: $orange;
        position: relative;
        transition: 0.3s ease-out;

        &:hover {
          background: $orange-dark;
        }

        svg {
          @include absolute;

          width: vw(16);
          height: vw(16);
        }
      }
    }

    .content {
      padding: vw(90) vw(64);
      flex: 1;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: vw(20);

      picture {
        grid-column: span 3;
        height: vw(252);
        position: relative;

        img {
          @include img;
        }
      }

      .text {
        grid-column: 5 / span 8;

        h3 {
          font-size: vw(36);
          font-weight: 500;
          line-height: 1.1;
          margin-bottom: vw(10);
        }

        & > span {
          margin-bottom: vw(50);
          font-size: vw(20);
          display: block;
        }

        :global(#popup-team-content) {
          display: flex;
          flex-direction: column;
          gap: vw(50);

          p:first-child {
            font-size: vw(26);
            line-height: 1.3;
          }

          p:not(:first-child) {
            font-size: vw(18);
            line-height: 1.6;
          }
        }
      }
    }
  }
}
