@use '@mixins' as *;
@use '@config' as *;

.heroSlider {
  padding: 0;
  position: relative;
  overflow: hidden;

  & > ul:not(.pagination) {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column: span 12;
    width: 100vw;

    li {
      min-height: 100vh;
      min-width: 100vw;
      position: relative;
      height: fit-content;

      :global(.media) {
        @include absoluteFull;

        z-index: 1;

        &::before {
          @include absoluteFull;

          content: '';
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          );
          z-index: 2;
        }
      }

      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: vw(32);
        z-index: 2;
        color: $cream;
        padding: vw(240) vw(40) vw(280) vw(40);

        h2 {
          font-size: vw(20);
          font-weight: 500;
          line-height: 1.2;
        }

        p {
          line-height: 1;
          font-size: vw(108);
        }
      }
    }
  }

  .pagination {
    flex-direction: row;
    position: absolute;
    inset: auto vw(52) vw(140) vw(52);
    z-index: 3;

    li {
      flex: 1;
      padding: vw(10) vw(20) 0 vw(20);
      position: relative;
      opacity: 0.3;
      transition: 0.3s ease-in;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: $cream;
      }

      span {
        font-size: vw(18);
        font-weight: 500;
        color: $cream;
      }

      &.--active {
        opacity: 1;

        &::before {
          background: $orange;
        }
      }
    }
  }
}
