@use '@mixins' as *;
@use '@config' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 20px 20px;

    @include desktop {
      padding: vw(24) vw(40);
      gap: vw(40);
    }

    &.--cream {
      color: $cream;

      .logo svg {
        path[data-color-change] {
          fill: $cream;
        }
      }

      .search svg {
        * {
          &[fill] {
            fill: $cream;
          }

          &[stroke] {
            stroke: $cream;
          }
        }
      }

      .mobile svg {
        &[fill] {
          fill: $cream;
        }

        &[stroke] {
          stroke: $cream;
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;

      svg {
        width: calc(258 * 0.86) * 1px;
        height: calc(27 * 0.86) * 1px;

        @include desktop {
          width: vw(258);
          height: vw(27);
        }

        path[data-color-change] {
          fill: $black;
          transition: 0.3s ease-out;
        }
      }
    }

    & > ul {
      flex-direction: row;
      gap: 20px;

      @include mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 60px 20px 20px 20px;
        z-index: -1;
      }

      @include desktop {
        gap: vw(32);
      }

      li {
        &,
        & > * {
          font-weight: 500;
          transition: 0.3s ease-out;

          @include desktop {
            font-size: vw(18);
          }
        }

        &.--active {
          &,
          & > * {
            color: $orange;
          }
        }

        &:hover {
          &,
          & > * {
            color: $orange;
            cursor: pointer;
          }
        }
      }
    }
  }

  .submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black;
    z-index: 1;
    color: $cream;
    padding: 160px 20px 80px 20px;

    @include desktop {
      padding: vw(180) vw(40) vw(140) vw(40);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    span {
      font-weight: 600;
      font-size: vw(20);

      @include mobile {
        display: none;
      }
    }

    ul {
      gap: 20px;

      @include desktop {
        grid-column: 2 / span 2;
        gap: vw(24);
      }

      a {
        transition: 0.3s ease-out;
        line-height: 0.68;
        font-size: 24px;

        @include desktop {
          font-size: vw(32);
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    @include desktop {
      gap: vw(32);
    }

    button:not(.mobile):not(.search) {
      @include mobile {
        display: none;
      }
    }

    button.mobile {
      svg {
        width: 24px;
        height: 24px;

        * {
          &[fill] {
            fill: $black;
          }

          &[stroke] {
            stroke: $black;
          }
        }
      }

      @include desktop {
        display: none;
      }

      &:hover {
        svg {
          * {
            &[fill] {
              fill: $orange;
            }

            &[stroke] {
              stroke: $orange;
            }
          }
        }
      }
    }

    .search {
      display: flex;
      gap: vw(10);
      align-items: center;

      svg {
        width: 24px;
        height: 24px;

        @include desktop {
          width: vw(18);
          height: vw(18);
        }

        * {
          transition: 0.3s ease-out;
        }
      }

      span {
        font-size: vw(18);
        font-weight: 500;
        line-height: 1;

        @include mobile {
          display: none;
        }
      }

      &:hover {
        svg {
          * {
            &[fill] {
              fill: $orange;
            }

            &[stroke] {
              stroke: $orange;
            }
          }
        }
      }
    }
  }
}
