@use '@mixins' as *;
@use '@config' as *;

.pageIntro {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include desktop {
    gap: vw(50);
  }

  &.--big-gap {
    :global(.intro) {
      @include desktop {
        margin-bottom: vw(50);
      }
    }
  }

  p:not(:global(.intro)):not(:global(.statement)) {
    line-height: 1.5;

    @include desktop {
      font-size: vw(18);
    }
  }

  img {
    max-width: 100%;
  }
}
