@use '@mixins' as *;
@use '@config' as *;

.text {
  padding-top: 40px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: vw(50);
    padding-bottom: vw(175);
  }

  & > div {
    padding-top: 0;

    &::before {
      display: none;
    }

    :global(.intro) {
      @include desktop {
        grid-column: 4 / span 8;
      }
    }
  }
}
