@use '@mixins' as *;
@use '@config' as *;

.footer {
  background: $black;

  .inner {
    position: relative;
    z-index: 2;
  }

  & > svg {
    width: vw(1298);
    height: vw(1343);
    position: absolute;
    z-index: 1;
    bottom: vw(-312);
    right: vw(-200);
    opacity: 0.15;

    @include mobile {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;

    @include desktop {
      gap: vw(36);
      padding: vw(40) vw(40) vw(340) vw(40);
    }

    * {
      line-height: 1;
      font-size: 32px;

      @include desktop {
        font-size: vw(56);
      }
    }

    p {
      color: $cream;

      @include desktop {
        width: vw(910);
      }
    }

    button {
      color: $orange;
      position: relative;
      padding-bottom: 12px;

      @include desktop {
        padding-bottom: vw(12);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 4px;
        background-color: $orange;
      }

      &:hover {
        &::after {
          display: none;
        }
      }
    }
  }

  .frames {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    @include desktop {
      flex-wrap: nowrap;
    }

    .frame {
      display: flex;
      flex-direction: column;
      background: $orange;
      color: $cream;
      gap: 20px;
      padding: 40px 20px;

      @include mobile {
        width: 100%;
      }

      @include desktop {
        flex: 1;
        gap: vw(112);
        padding: vw(24) vw(40) vw(48);
      }

      p {
        line-height: 1.1;
        font-size: 32px;

        @include desktop {
          font-size: vw(64);
        }
      }

      a {
        margin-top: auto;
      }

      &:last-of-type {
        background: $orange-dark;
      }
    }
  }

  .bottom {
    color: $cream;
    display: flex;
    width: 100%;
    padding: 80px 20px 20px 20px;

    @include mobile {
      flex-direction: column;
    }

    @include desktop {
      padding: vw(50) vw(40);
    }

    & > svg {
      width: calc(152 * 1.2) * 1px;
      height: calc(55 * 1.2) * 1px;

      @include desktop {
        width: vw(152);
        height: vw(55);
        margin-right: vw(170);
      }
    }

    & > *:not(svg) {
      @include desktop {
        margin-top: vw(16);
      }
    }

    & > span {
      font-weight: 500;
      font-size: 14px;

      @include mobile {
        margin-top: 10px;
      }

      @include desktop {
        margin-right: vw(46);
        font-size: vw(14);
      }
    }

    & > ul {
      flex-direction: row;
      gap: 20px;

      @include mobile {
        margin-top: 40px;
      }

      @include desktop {
        align-items: center;
        gap: vw(46);
        margin-right: vw(260);
        height: fit-content;
      }

      li {
        height: fit-content;
      }

      a {
        font-weight: 500;
        height: fit-content;
        display: block;
        font-size: 14px;

        @include desktop {
          font-size: vw(14);
        }

        &,
        svg * {
          transition: 0.3s ease-in;
        }

        svg {
          @include mobile {
            width: 24px;
            height: 24px;
          }
        }

        &:hover {
          color: $orange;

          svg * {
            &[fill] {
              fill: $orange;
            }

            &[stroke] {
              stroke: $orange;
            }
          }
        }
      }
    }

    .group {
      display: flex;
      height: fit-content;
      align-items: center;
      gap: 10px;

      @include mobile {
        margin-top: 80px;
      }

      @include desktop {
        gap: vw(24);
        margin-left: auto;
      }

      * {
        height: fit-content;
        display: block;
      }

      span {
        font-size: 12px;

        @include desktop {
          font-size: vw(12);
        }
      }

      a {
        svg {
          width: 93px;
          height: 12px;

          @include desktop {
            width: vw(93);
            height: vw(12);
          }

          path {
            transition: 0.3s ease-in;
          }
        }

        &:hover {
          svg path {
            &[fill] {
              fill: $orange;
            }

            &[stroke] {
              stroke: $orange;
            }
          }
        }
      }
    }
  }
}
