@use '@mixins' as *;
@use '@config' as *;

.heroService {
  position: relative;
  padding-top: 200px;
  padding-bottom: 80px;

  @include desktop {
    min-height: vw(670);
    padding-top: vw(300);
    padding-bottom: vw(64);
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: $white;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;

    @include desktop {
      gap: vw(20);
      grid-column: span 10;
    }

    span {
      font-size: 14px;

      @include desktop {
        font-size: vw(14);
      }
    }

    h1 {
      line-height: 1;
      font-size: 56px;

      @include desktop {
        font-size: vw(108);
      }
    }

    p {
      font-weight: 500;
      font-size: 20px;

      @include desktop {
        font-size: vw(24);
      }
    }
  }

  :global(.media) {
    z-index: 1;

    &,
    &::before {
      @include absoluteFull;
    }

    &::before {
      z-index: 2;
      content: '';
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.25) 100%
      );
    }
  }
}
