@use '@mixins' as *;
@use '@config' as *;

.imageTextFullscreen {
  padding: 0;
  display: flex;
  position: relative;

  @include desktop {
    margin-top: vw(200);
    height: vw(1100);
  }

  :global(.media) {
    width: 100%;
    height: 240px;

    @include desktop {
      height: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }

  .content {
    background: $orange;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;

    @include desktop {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      width: vw(1130);
      gap: vw(40);
      padding: vw(90);
    }

    & > svg {
      width: 31px;
      height: 32px;

      @include desktop {
        width: vw(31);
        height: vw(32);
      }

      *[fill] {
        fill: $cream;
      }

      *[stroke] {
        stroke: $cream;
      }
    }

    p {
      color: $white;
      font-weight: 300;
      line-height: 1.4;
      font-size: 20px;

      @include desktop {
        font-size: vw(32);
      }
    }
  }
}
